<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulário Curso</title>
</head>

<body>
  <form action="#" th:action="@{/curso/showFormUpdate}" th:object="${curso}" method="post">
    <p>Nova Descrição: <input type="text" th:field="*{descricao}" placeholder="Descreva o curso" /></p>
    <p><input type="hidden" th:field="*{id}"></p>

    <p><input type="submit" value="Atualizar" /></p>
  </form>
  <br>
  <a th:href="@{/curso/getListaCursos}">Ver lista de cursos</a><br>
</body>

</html>